In [71]:
#Import Dependencies
import pandas as pd
import numpy

In [72]:
#Bring in CSV
pyoli_csv = 'Resources/purchase_data.csv'

In [73]:
#Convert to Data Frame
pyoli_df = pd.read_csv(pyoli_csv)
pyoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [74]:
#Display Total Number Of Players
playercount = {'Total Players': pyoli_df['SN'].nunique()}

playercount_df = pd.DataFrame(playercount, index = [0])

playercount_df

   Total Players
0            576

In [75]:
#Purchasing Analysis (Total)
#Calculate Number of Unique Items
uniqueitems_count = pyoli_df['Item ID'].nunique()

#Calculate Average Purchase Price
avg_purchase = pyoli_df['Price'].mean()

#Calculate Total Number of Purchases
totalpurchase_count = pyoli_df['Purchase ID'].count()

#Calculate Total Revenue
totalrevenue = pyoli_df['Price'].sum()

In [76]:
#Display Purchasing Analysis(Total)
#Organize Variables Into A Dict
SummaryDict = [{'# of Unique Items': uniqueitems_count,
                'Average Price': avg_purchase,
                'Total Purchase Count': totalpurchase_count,
                'Total Revenue': totalrevenue}]

#Turn Dict Into DF
summary_df = pd.DataFrame(SummaryDict)

In [77]:
#Format New DF And Print
summary_df['Average Price'] = summary_df['Average Price'].map('${:.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map('${:,.2f}'.format)

summary_df

   # of Unique Items Average Price  Total Purchase Count Total Revenue
0                183         $3.05                   780     $2,379.77

In [84]:
#Purchasing Analysis By Gender
#Group By Gender
pyoli_gender_gp = pyoli_df.groupby(['Gender'])

#Create a DF out of grouping and counting
pyoli_gender_gp_count = pyoli_gender_gp.count()

#Add Percentage Column
pyoli_gender_gp_count['Percentage Of Players'] = (pyoli_gender_gp_count['Purchase ID'] / pyoli_gender_gp_count['Purchase ID'].sum()) * 100

#Clean Up Columns And Rename And Print
organized_pct = pyoli_gender_gp_count[['Purchase ID', 'Percentage Of Players']]

organized_pct = organized_pct.rename(columns = {'Purchase ID': 'Number Of Players'})

organized_pct

                       Number Of Players  Percentage Of Players
Gender
Female                               113              14.487179
Male                                 652              83.589744
Other / Non-Disclosed                 15               1.923077